:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #EEEBDA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --hunger-level: 100;
  --fun-level: 100;
  --coziness-level: 100;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0 0.5em;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#bgImg {
  width: 60%;
  height: 60%;
}

#hungerBar {
  background-color: #747bff;
  height: 15px;
  width: var(--hunger-level);
}

#funBar {
  background-color: #747bff;
  height: 15px;
  width: var(--fun-level);
}

#cozinessBar {
  background-color: #747bff;
  height: 15px;
  width: var(--fun-level);
}


.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.foodImg {
  width: 40px;
  height: auto;
}

.foodAnimationImg {
  animation: foodAnimation 3s linear forwards;
  animation-duration: 3s;
  width: 100px;
  height: auto;
  z-index: 100;
  position: absolute;
  top: 250px;
  left: 150px;
}

@keyframes foodAnimation {
  0%   {transform: rotate(180deg);}
  25%   {width: 75px; transform: rotate(360deg) scale(0.75);}
  50%   {width: 50px; transform: rotate(540deg) scale(0.5);}
  100%   {width: 5px; transform: rotate(720deg) scale(0.25);}
}